.md-main__inner {
	max-width: none;
}
.md-sidebar--primary {
	left: 0;
}
.md-sidebar--secondary {
	right: 0;
	margin-left: 0;
	-webkit-transform: none;
	transform: none;
}

.md-grid {
	max-width: 100% !important;
}

[data-md-color-scheme="mlaide"] {
	--md-primary-fg-color: #195cc1;
	--md-primary-fg-color--light: #003490;
	--md-primary-fg-color--dark: #6088f4;
	--md-accent-fg-color: #cf1f1f;
}

:root {
	--md-primary-fg-color: #195cc1;
	--md-primary-fg-color--light: #003490;
	--md-primary-fg-color--dark: #6088f4;
	--md-accent-fg-color: #cf1f1f;
}
