[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
mkdocs-render-swagger-plugin = "*"
mlaide = "==0.1.0a1"

[packages]

[requires]
python_version = "3.8"
